.section__advences {
    padding-top: 94px;
    } 

.feature{
        display: flex;
        justify-content: space-between;
}

.feature__blok{
    margin-right: 30px;

    &:last-child{
        margin-right: 0px;
    }
}

.feature__svg {
    display: flex; 
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px;
}

.feature__title{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__paragraph {
    color: var(--paragraph-color);
    font-size: 14px;
    line-height: 1.71;
}
    
   
    

    

