.footer-social{
    margin-left: 70px;
    margin-right: 93px;
}

.footer-social__text{
    font-size: 14px;
    line-height: 1.14;
    color: var(--fon-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-social__input{
    width: 358px;
    height: 50px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2F303A;
    color: #757575;
}

.footer-social__blok{
    position: relative;
}

.footer-social__button{
    display: flex; 
     text-decoration: none;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     width: 200px;
     padding: 10px 0px 10px 29px;
     margin-left: 12px;
     margin-top: 0px;
}

.footer-social__icon{
    position: absolute;
    fill: #EEEEEE;
    top: 50%;
    transform: translateY(-40%);
    right: 28px;
}






